*.log
*.tsbuildinfo
.DS_Store
.vite/
dist/
node_modules/
out/
resources/*.onnx
resources/*.onnx.part
src/renderer/public/models/
src/renderer/public/ort-transformers/
src/renderer/public/ort/
test/.build/
