node_modules/
out/
dist/
.DS_Store
*.log
.vite/
test/.build/
*.tsbuildinfo
resources/*.onnx
resources/*.onnx.part
src/renderer/public/ort/
src/renderer/public/models/
src/renderer/public/ort-transformers/
